# Hugo build artifacts
/public/
/.hugo_build.lock
/resources/_gen/
hugo_stats.json

# Dependencies
node_modules/

# Local Environment/OS files
.DS_Store
*~
*.bak
Thumbs.db
/dist/
/.vscode/
/.idea/

# Executables (if you compile and keep the Hugo binary in the repo)
hugo.exe
hugo.darwin
hugo.linux